@CHARSET "ISO-8859-1";
/*====================================================== Category List.jsp =================================================*/

#managecategorylist .table-responsive table {
	decoraton:none;
	width:100%;
	text-align:center;
	border-radius: 5px;
}

#managecategorylist .table-responsive th {
	letter-spacing: 1px;
	font-size: 16px;
	text-align: center;
	background-color: #000;
	color: #fff;
	border-radius:2px;
	font-family: Poppins;
	font-weight: 400;
}

#managecategorylist .table-responsive td {
	letter-spacing: 1px;
	font-size: 14px;
	text-align: center;
}

#managecategorylist h2{
	text-align: center;
}