@CHARSET "ISO-8859-1";

#top {
  padding-top: 10px;
  padding-bottom:10px
}

#top img{
  width: 95px;
  height: 60px;
  display: inline;
}

#top h2 {
  padding-left: 10px;
  color: #000;
  font-family: sans-serif;
  letter-spacing: 1.5px;
  display: inline;
}

#veyron span {
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}

#veyrongs span {
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}

#veyrongsv span {
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}

#veyronss span {
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}
