/*================================================= index.jsp ===============================================*/
body, html {
	font-size: 14px;
	font-family: Poppins;
	font-weight: 400;
	color: #000;
	padding-top:25px;
}

/*===================== Top Navbar ===================*/
#TopNavBar .navbar-fixed-top {
	background-color: #fff;
	maring-top:-5px;
	margin-bottom:5px;
}

#TopNavBar .navbar-brand {
	font-size: 20px;
	color: #000 !important;
	font-weight: bold;
}

#TopNavBar .navbar-nav {
	font-size: 15px;
	font-weight: 400;
}

#TopNavBar .dropdown {
	font-size: 15px;
	font-weight: 400;
}

#TopNavBar .dropdown-menu {
	font-size: 15px;
	font-weight: 400;
	color: #000;
	decoration: none;
}

/*==================== Bottom Navbar ==================*/
#BottomNavBar .navbar-fixed-bottom {
	background-color: #fff;
}

#BottomNavBar .navbar-brand {
	font-size: 20px;
	color: #000;
	font-weight: 500;
}

#BottomNavBar li {
	display: inline;
	margin-right: 5px;
}

/*===================== footer ========================*/
footer {
	background-color: lightgrey;
	font-size: 16px;
	font-family: Poppins;
	font-weight: 400;
	text-align: center;
	padding-top: 8px;
	border-top: #000 2px solid;
	border-bottom: #000 2px solid;
}

/*===================== infromation ========================*/
#info .thumbnail{
	text-align: center;
}

#info1 button{
	border-radius: 100px;
	padding: 5px 50px 5px 50px;
}

#info2 button{
	border-radius: 100px;
	padding: 5px 50px 5px 50px;
}

#info3 button{
	border-radius: 100px;
	padding: 5px 50px 5px 50px;
}

#info4 button{
	border-radius: 100px;
	padding: 5px 50px 5px 50px;
}

#info5 button{
	border-radius: 100px;
	padding: 5px 50px 5px 50px;
}

#info6 button{
	border-radius: 100px;
	padding: 5px 50px 5px 50px;
}

#info7 button{
	border-radius: 100px;
	padding: 5px 50px 5px 50px;
}

#info8 button{
	border-radius: 100px;
	padding: 5px 50px 5px 50px;
}

#info9 button{
	border-radius: 100px;
	padding: 5px 50px 5px 50px;
}

#info10 button{
	border-radius: 100px;
	padding: 5px 50px 5px 50px;
}

#info11 button{
	border-radius: 100px;
	padding: 5px 50px 5px 50px;
}

#info12 button{
	border-radius: 100px;
	padding: 5px 50px 5px 50px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
