@CHARSET "ISO-8859-1";

#top img{
  display: inline;
  width: 50px;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#top h2 {
  padding-top: 30px;
  padding-left: 10px;
  color: #000;
  font-family: sans-serif;
  letter-spacing: 1.5px;
  display: inline;
  text-align: center;
}

#huracan span {
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}

#aventador span {
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}

#veneno span {
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}