@CHARSET "ISO-8859-1";

#top img {
  width: 240px;
  height: 78px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#mercedesgt span {
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}

#mercedesgts span {
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}

#mercedesgtc span {
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}

#mercedesgtr span {
  padding: 5px 5px 5px 10px;
  font-size: 16px;
}